<div class="absolute">
    <div class="container">
        <div class="row">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="?page=upload">Upload</a></li>
                <li><a href="?page=player">Pliki</a></li>
            </ul>
        </div>
    </div>
</div>